.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  gap: 24px;
}

.progressSection {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 10px 0 #6a63761a;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.questionWrapper {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 24px;
  gap: 24px;
  box-shadow: 0 4px 10px 0 #6a63761a;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: #191919;
  font-size: 20px;
}

.headerProgress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionsCountDesktop {
  color: #757575;
  font-size: 14px;
}

.questionsCountMobile {
  display: none;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.prevButton {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.prevTitle {
  color: #6a0bff;
  font-weight: 600;
}

.prevTablet {
  display: none;
}

.nextButton {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.nextTitle {
  color: #6a0bff;
  font-weight: 600;
}

.nextTablet {
  display: none;
}

.questionContainer {
  display: flex;
  gap: 20px;
  border-bottom: 1px #d1d1d1 solid;
  padding-bottom: 24px;
}

.questionBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.questionInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ellipseIcon {
  margin-top: 10px;
}

.questionTitle {
  display: flex;
  gap: 8px;
}

.questionSpanTitle {
  font-size: 20px;
  color: #191919;
}

.showAnswerDesktop {
  font-size: 14px;
  font-weight: 400;
  color: #6a0bff;
}

.showAnswerMobile {
  display: none;
}

.answerContainer {
  display: flex;
  gap: 8px;
}

.answerContainerDesktop {
  display: flex;
  gap: 8px;
}

.answerContainerMobile {
  display: none;
}

.dontKnowButton {
  gap: 8px;
  border-radius: 12px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #474747;
}

.dontKnowButtonActive {
  color: #6a0bff;
  background-color: #f8f8f8;
}

.knowButton {
  gap: 8px;
  border-radius: 12px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #474747;
}

.knowButtonActive {
  color: #6a0bff;
  background-color: #f8f8f8;
}

.imageWrapper {
  border-radius: 24px;
  overflow: hidden;
  border: 1px solid #d1d1d1;
  width: 622px;
  height: 358px;
  flex-shrink: 0;
}

.questionImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobileActions {
  display: none;
}

.finishButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #fdd8e1;
  color: #f3164e;
  font-weight: 600;
  padding: 13px 41.5px;
  border: none;
  gap: 8px;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .container {
    gap: 20px;
    padding: 30px;
  }

  .progressSection {
    padding: 16px;
  }

  .questionWrapper {
    padding: 16px;
  }

  .nextButton {
    display: none;
  }

  .prevTablet {
    display: block;
  }

  .prevButton {
    display: none;
  }

  .nextTablet {
    display: block;
  }

  .questionContainer {
    flex-direction: column;
  }

  .questionInfo {
    margin-bottom: 20px;
  }

  .imageWrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 10px;
  }

  .progressSection {
    padding: 10px;
    gap: 16px;
  }

  .questionsCountDesktop {
    display: none;
  }

  .questionsCountMobile {
    display: block;

    color: #757575;
    font-size: 14px;

    align-self: flex-end;
    margin-top: -12px;
  }

  .questionWrapper {
    padding: 16px;
    gap: 16px;
  }

  .nextButton {
    display: flex;
  }

  .prevTablet {
    display: none;
  }

  .prevButton {
    display: flex;
  }

  .nextTablet {
    display: none;
  }

  .questionContainer {
    display: flex;
    gap: 20px;
    border-bottom: 1px #d1d1d1 solid;
    padding-bottom: 16px;
  }

  .showAnswerDesktop {
    display: none;
  }

  .answerContainerDesktop {
    display: none;
  }

  .showAnswerMobile {
    display: block;

    font-size: 14px;
    font-weight: 400;
    color: #6a0bff;
  }

  .answerContainerMobile {
    display: flex;
    gap: 16px;
  }

  .answerContainer {
    gap: 16px;
  }

  .thumbsDownIcon {
    width: 32px;
    height: 32px;
  }

  .dontKnowTitle {
    display: none;
  }

  .thumbsUpIcon {
    width: 32px;
    height: 32px;
  }

  .dontKnowTitle {
    display: none;
  }

  .knowTitle {
    display: none;
  }

  .mobileActions {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .finishButton {
    align-self: start;
  }
}
