.rate {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  color: #474747;
  font-weight: 400;
  font-size: 14px;
}

.rateOptions {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}

.rateItem {
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid #bababa;
}

.rateItemActive {
  border-color: #6a0bff;
}
