.wrapper {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 999;
  border: 1px solid #a66dff;
  padding: 12px;
  box-shadow: 0 4px 10px 0 #6a63761a;
  font-size: 14px;
  font-weight: 400;
  color: #474747;
  left: 50%;
  transform: translateX(-20%);
  background-color: #ffffff;
  border-radius: 12px;
}

.tooltip::before {
  content: "";

  position: absolute;

  top: -8px;
  left: 25px;

  width: 14px;
  height: 14px;

  background: #ffffff;

  border-top: 1px solid #a66dff;
  border-left: 1px solid #a66dff;

  transform: rotate(45deg);
}
