.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  padding: 32px;
}

.content {
  max-height: 90vh;
  overflow-y: auto;
  animation: modalAppear 0.2s ease;
}

@media (max-width: 768px) {
  .overlay {
    padding: 0 10px;
  }
}
