.guru {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
  border: 1px solid #6a0bff;
}

.guruCard {
  display: flex;
  gap: 8px;
}
.guruInfo {
  display: flex;
  flex-direction: column;
}

.guruSpecialization {
  color: #757575;
}

.guruIcons {
  display: flex;
  gap: 12px;
}

@media (max-width: 1024px) {
  .guru {
    padding: 20px;
    border-radius: 16px;
  }
}
